@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px 0px 0px 0px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: #e3e3e3;
    min-height: 100vh;
    min-width: 100vh;
}

.main-background {
    background-color: rgba(2, 0, 36, 1);
    /* background-color: pink; */
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar */

.nav-wrapper {
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, #1e2d67 60%);
    /* background-color: green; */
}

.nav-content {
    padding-top: 2%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 2%;
    display: grid;
    grid-template-columns: [left] 50% [center] 50% [right];
}

.custom-space > li:not(:last-child) {
    margin-right: 10%; 
  }

.logo-img {
    height: 100px;
    width: 100px;
    border: 2px solid #ffffff;; /* Adjust the color and border width as needed */
    border-radius: 0.25rem;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.logo-img-link {
    padding: 0px 50px 0px 50px;
}


.tuba-title {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 60px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.nav-button-links {
    padding: 0px 0px 0px 50px;
}

.button-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 40px 0px 10px;
}

.button-style {
    display: inline-block;
    border: 2px solid #ffffff;; /* Adjust the color and border width as needed */
    border-radius: 0.30rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 18px;
    font-weight: 600;
    /* width: 180px; */
    text-align: center;
    color: #ffffff;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.button-style:hover {
    background-color: rgb(91, 143, 185); /* Replace with actual color code */
}

.top-nav {
    width: 100px;
}



/* _______ Component Styling ______ */

.home-overview-section {
    padding: 60px 30px 0px 30px;
}

.title-main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url("../images/TubaLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 500px 500px;
    /* opacity: 0.5; */
}


.title-main-contain {
    padding: 50px 30px 30px 30px;
    height: 50%;
}

.title-main {
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 80px;
    letter-spacing: 1.5px;
    background-color: rgba(2, 0, 36, 0.8);
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 20px;
    border-radius: 30px;
}

.title-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.title {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 800;
    font-size: 30px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.subTitle-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 20px 20px;
}

.subTitle-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 700;
    font-size: 25px;
    color:rgb(91, 143, 185);
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.text-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.text-small {
    font-size: 16px;
}

.img-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px 30px 30px;
}

.img-file-small {
    width: 100px;
    height: 100px;
}

/* _______ Home Section ______ */

.home-wrapper {
    background-color: rgba(2, 0, 36, 1);
}

.logo-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.devTeam-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.devTeam-img-container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: minmax(400px, auto);
    align-items: start;
    padding: 30px 30px 0px 200px;
    margin: 0px;
}

.devTeam-img {
    height: 200px;
    width: 200px;
}

.devTeam-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0px 0px 0px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-content: center;
    padding: 100px;
}

/* ______Product Section ______ */

.download-wrapper {
    width: 100%;
    min-width: 100%;
}

.download-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Ojuju", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 100px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 100px 0px 100px 0px;
    /* background-color: pink; */
}

.options-grid {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    width: 100%;
    min-width: 100%;
}

.options-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* background-color: pink; */
    padding: 30px 30px 30px 30px;
}

/* arguments for ImgContain component */
.img-file-npm {
    width: 400px;
}

.img-file-dock {
    width: 500px;
}
/*  */

.prod-links {
    width: 200px;
    background-color: pink;
}

.prod-docsLink-contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.prod-docsLink {
    width: 250px;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
}
/* _____ Docs Section _____ */

.docs-wrapper {
    background: #1e2d67;
    border-top: 20px solid rgba(2, 0, 36, 1);
    height: 100vh;
    width: 100%;
}

.docs-nav {
    background: #1e2d67;
    padding: 10% 0px 10% 0px;
}

.docs-nav-links {
    margin: 30px 0px 30px 0px;
}

.side-nav {
    width: 200px;
    padding: 15px 0px 15px 0px;
    font-size: 18px;
}

.docs-container {
    background: #e3e3e3;
    color: black;
    padding: 30px;
}

.doc-section {
    padding: 15px;
}

.docComp-title-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    font-weight: 800;
    font-size: 45px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-bottom: 6px solid black; /* Solid black line */
    padding-bottom: 20px;
    border-radius: 3px;
}

.doc-subTitle-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 30px 30px 30px;
}

.doc-subTitle-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
    color: rgba(2, 0, 36, 1);
    /* text-shadow: 
        -1px -1px 0 rgb(91, 143, 185),  
         1px -1px 0 rgb(91, 143, 185),
        -1px  1px 0 rgb(91, 143, 185),
         1px  1px 0 rgb(91, 143, 185); */
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 1.5px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.doc-textb-text {
    font-size: 18px;
}

.doc-content-nav-title {
    font-weight: 600;
    font-size: 22px;
    padding: 0px 0px 15px 0px;
    margin-left: 5%;
}

.doc-content-nav {
    background-color: #1e2d67;
    margin-left: 10%;
    font-size: 18px;
    font-weight: 550;
    width: 220px;
}

.codeSnip-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;
    padding: 10px;
}

.codeSnip-contain {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between;
    background-color: #53596f;
    color: #e3e3e3;
    padding: 1rem;
    border-radius: 15px;
}

.row-btn {
    display: flex;
    align-items: flex-start; /* Align children to opposite ends */
}

.row-snip {
    display: flex;
    align-items: flex-end;
}

.copy-btn {
    display: flex;
    justify-content: flex-end;
}

.code-snip {
    display: flex;
    justify-content: flex-start;
} 

.doc-textb-container {
    padding: 20px;
}

.prom-hyperlink {
    color: rgb(91, 143, 185);
}
